extends layout

block content
  
  div.text-center
    h3.m-5 今日のラッキーアニマルは
  div.mycss-center
    h1.text-center.p-3.bg-success.result #{root}
  p.mt-5.text-center です！それでは良い一日を
  div.text-center
    a(href="/").btn.btn-outline-success.text-right もどる
  
  
  
  
